@page "/"
@using System.Text.Json
@using System.Text.Json.Serialization
@inject IHttpClientFactory ClientFactory


@code {
    private string result = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        var request = new HttpRequestMessage(HttpMethod.Get,
        "https://backend-89787.azurewebsites.net/");

        var client = ClientFactory.CreateClient();

        var response = await client.SendAsync(request);

        result = await response.Content.ReadAsStringAsync();

}
}

<PageTitle>Index</PageTitle>

<h1>@result -FD</h1>


@* <SurveyPrompt Title="How is Blazor working for you?" /> *@
